<script>
    var net=<%=@network.to_json.html_safe%>
    var i;

    $(document).ready( function () {
        i=0;
        $('#gene_network_tbl').dataTable( {
            "sDom": "T<'clear'><'H'lfr>t<'F'ip>",
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
            "bPaginate": true,
            "oTableTools": {
                "sSwfPath": 'assets/DataTables-1.9.4/extras/TableTools/media/swf/copy_csv_xls_pdf.swf',
                "aButtons": [
                    {
                        "sExtends": "xls",
                        "sButtonText": "Save as Excel"
                    },
                    {
                        "sExtends": "pdf",
                        "sButtonText": "Save as PDF"
                    }
                ]

            }
        } );
        var count= <%=@network.size%> ;

        if( count<1500 )
        {
            $.each(net,function(index, value){
                $("#cloud_content").append("<li><a href='#' rel='20'>"+value.symbol2+"</a></li>");
                i++;
            });
            if(i<100) {
                $('#cloud').tagcloud({centrex:250,centrey:250,min_font_size: 8,
                    max_font_size: 10, random_points: 50, zoom: 75, min_zoom: 10,
                    max_zoom: 100, zoom_factor: 2  });


            }

            if(i>150 && i<500)  {
                $('#cloud').tagcloud({centrex:400,centrey:400,min_font_size: 8,
                    max_font_size: 10, random_points: 50, zoom: 75, min_zoom: 10,
                    max_zoom: 100, zoom_factor: 2  });
                $('#cloud').css('background-color', '#FFFFFF');
                $('#cloud').dialog({ width: 850, height:850 });
            }
            if(i>500 && i<1300)  {
                $('#cloud').tagcloud({centrex:800,centrey:800,min_font_size: 8,
                    max_font_size: 10, random_points: 50, zoom: 75, min_zoom: 10,
                    max_zoom: 100, zoom_factor: 2  });
                $('#cloud').hide();
                $('#link').append("<a href='#' onclick='network()'>Network visualization(might take time for building because of the size of the network)</a>");

            }
        }


    } );
    function network(){

        $('#cloud').css('background-color', '#FFFFFF');
        $('#cloud').dialog({ width: 850, height:850 });
        $('#cloud').show();
    }

</script>
<div style="margin-top: 1%;">
  <% if @network.size>0 %>
      <h2>List of interactions for <%=network.at(1).symbol1%></h2>
  <% end %>
  <table id="gene_network_tbl" class="display">
    <thead>
    <tr>
      <th>Entrez ID of gene 1</th>
      <th>Entrez ID of gene 2</th>
      <th>Symbol of gene 1</th>
      <th>Symbol of gene 2</th>
    </tr>
    </thead>
    <tbody>
    <%network.each do |n| %>
        <tr>
          <td><%= n.id1 %></td>
          <td><%= n.id2 %></td>
          <td><%= n.symbol1 %></td>
          <td><%= n.symbol2 %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<h2>The interaction network</h2>
<div id="link"></div>
<div id="cloud" style="width:550px; height:550px;position:relative; overflow: auto; margin: 0px; padding: 0px;">
  <ul id="cloud_content">  </ul>
</div>

</div>

